.row
  .col-xs-4.col-xs-offset-4
    %h2 Log in
    = simple_form_for(resource, as: resource_name, url: user_session_path) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, autofocus: true, input_html: {id: 'Email'}
        = f.input :password, input_html: {id: 'Password'}
        = f.input_field :remember_me, as: :boolean
        %b Remember me
      .form-actions
        = f.button :submit, "Log in"
    = render "devise/shared/links"
